<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/heart_notify.png" />
    <link rel="stylesheet" href="/css/estilos.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />

    <title>Página web</title>
  </head>

  <body>
    <header>
      <div class="container__header">
        <div class="logo">
          <img src="/img/logo-magtimus-small-v2-png.png" alt="" />
        </div>

        <div class="menu">
          <nav>
            <ul>
              <li><a href="#" hre="">Productos</a></li>
              <li><a href="#" hre="">Soluciones</a></li>
              <li><a href="#" hre="">Blog</a></li>
              <li><a href="#" hre="">Compañia</a></li>
              <li><a href="#" hre="">Contactos</a></li>
            </ul>
          </nav>
        </div>

        <i class="bx bx-menu" class="icono_menu"></i>

        <div class="header__register">
          <input type="button" class="btn__header-register" value="Registrar" />
        </div>
      </div>
    </header>

    <main>
      <div class="cover">
        <div class="text__information-cover">
          <h1>Haz historia. No se limite a informar sobre ello.</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo enim ut
            libero quaerat eligendi fugiat ratione, quibusdam voluptates nobis
            voluptatibus eveniet sint? Adipisci assumenda nemo atque est
            inventore cumque nesciunt.
          </p>
          <div class="buttons__cover">
            <button class="btn-register-cover">Registar</button>
            <button class="btn-readMore-cover">Leer Más</button>
          </div>
        </div>

        <div class="media__cover">
          <video
            src="/img/animacion_cover.webm"
            autoplay
            playinline
            loop
            muted
            preload="auto"
          ></video>
        </div>
      </div>
      <div class="container__banner">
        <div class="banner">
          <div class="banner__icon-heart">
            <img src="/img/heart_notify.png" id="icon_corazon" alt="" />
          </div>
          <div class="banner__icon-fire">
            <img src="/img/fire-dynamic-color.png" alt="" id="icon_fire" />
          </div>
          <div class="banner__text">
            <h2>Puedes encontrar mas información</h2>
            <a href="#">Leer Más</a>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="/js/main.js"></script>
  <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</html>
